@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    .converseBot {
      display: none;
    }
    .wrapperToolbar {
      grid-column: span 4 / span 4;
      .loginBtn,
      .registerBtn {
        font-size: 0.6rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
    .wrapperToolbar {
      grid-column: span 4 / span 4;
      .loginBtn,
      .registerBtn {
        width: 20% !important;
        font-size: 0.6rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .loginBtn,
  .registerBtn {
    width: 15% !important;
  }
}

@media screen and (max-width: 1200px) {
  .loginBtn,
  .registerBtn {
    width: 20% !important;
  }
}
